 body{
            background-image:url('../img/fundo.jpg'); 
            font-size: 1.8em;    
        }

        header{
            width: 100%;      
            padding: 13px;
        }

        footer{
            background-color: rgba(165,42,42,0.3);   
            padding: 13px;
        }
        .container{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
 
        .centro{
            color: #fff;
            text-align: center;
            font-family:sans-serif;
        }

        div{
            font-size: 14px;
            width: 70%
            margin-left: auto;
            margin-right: auto;
        }

        h1{
            font-size: 2em;
            width: 100%;
            text-align: center;
            font-family: sans-serif;
            background-color: rgba(165,42,42,0.3);
            padding: 30px;
        }
       
        h2{
            font-size: 1.7em;

        }       
        h3{
            color: #fff;
            font-style: inherit;   
            font-size: 3em;
        }

        .tittle{
            text-align: center;
            color: #fff;
            font-family: sans-serif;
        }    

        p{
            color: #fff;
            font-size: 1.2em;
            font-weight: bold;
            font-family:sans-serif;
            text-align: justify;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        td, th{
            border: 5px groove #000000;
            text-align: center;
            padding: 5px;
            background-color: #fff
        }

        tr:nth-child(even) {
            background-color: #fff;
        }

        figure{
        	text-align: center;
        }

        img{
        	width: 70%;
        } 

        a:link {
            color: red;
        }

        a:visited {
            color: red;
        }

        a:hover {
            color: red;
        }

        a:active {
            color: red;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        ul li, ol li {
           text-decoration: underline;
           color: #fff;
           font-weight: bolder;
           font-size: 1.2em;
        } 
