 body{
            background-image:url('../img/fundo.jpg'); 
            font-size: 14px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        div{
            font-size: 14px;
            width: 70%
            margin-left: auto;
            margin-right: auto;
        }

        h1,h2{
            color: #fff;
            text-align: center;
            font-family:sans-serif;
        }

        h3{
            color: #fff;
            font-style: inherit;   
            font-size: 3em;
        }

        p{
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            font-family:sans-serif;
        }

        td, th{
            border: 5px groove #000000;
            text-align: center;
            padding: 5px;
            background-color: #fff
        }

        tr:nth-child(even) {
            background-color: #fff;
        }

        figure{
        	text-align: center;
        }

        img{
        	width: 70%;
        } 

        a:link {
            color: red;
        }

        a:visited {
            color: red;
        }

        a:hover {
            color: red;
        }

        a:active {
            color: red;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        ul li, ol li {
           text-decoration: underline;
           color: #fff;
           font-weight: bolder;
        } 
