 body{
            background-image:url('../img/fundo.jpg'); 
            font-size: 1.8em;    
        }

        @media screen and (max-width: 599px){
            .container{
                margin-top:65%;
            }
            }

        @media screen and (min-width: 600px){
            .container{         
                margin-top:40%;
            }
            }

        @media screen and (min-width: 768px){
            .container{         
                margin-top:20%; }

            header{
               flex-direction: row; 
               position: relative;
               height: 160px;    
            }

            .menu-opcoes{
            position: absolute;
            right: 5%;
            top:45%;
            }

            .menu-opcoes ul li{
            display: inline;
            margin-left: 10px;
            }
            }

        header, footer{
            background-color: #ff4040;      
            padding: 3%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5em;
            line-height: 1;
        }

        .container{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
 
        .centro{
            color: #fff;
            text-align: center;
            font-family:sans-serif;
        }

        .imglogo {
            position: absolute;
            top: 30px;
            left: 1%;
            top: 0%;
        }

        div{
            font-size: 14px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        .fixo{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }

        h1{
            font-size: 2em;
            width: 100%;
            font-family: sans-serif;
            padding: 30px;
        }
       
        h2{
            font-size: 1.7em;

        }       
        h3{
            color: #fff;
            font-style: inherit;   
            font-size: 2em;
        }

        .tittle{
            text-align: center;
            color: #fff;
            font-family: sans-serif;
            font-weight: bold;
        }    

        p{
            color: #fff;
            font-size: 1.3em;
            font-family:sans-serif;
            text-align: justify;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        td, th{
            border: 5px groove #000000;
            text-align: center;
            padding: 5px;
            background-color: #fff;
        }

        tr:nth-child(even) {
            background-color: #fff;
        }

        figure{
        	text-align: center;
        }

        .ajustes{
            line-height: 1;
            text-align: center;
        }

        .ajustes li :hover{
            background-color: #708090

        }
        .imgtexto {
        	width: 70%;
        } 

        .imglogo {
            width: 15%;
        }

        a:link {
            color: white;
        }

        a:visited {
            color: white;
        }

        a:hover {
            color: white;
        }

        a:active {
            color: white;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        ul li, ol li {
           text-decoration: underline;
           color: #fff;
           font-weight: bolder;
           font-size: 0.8em;
           margin-top: 2%;
           margin-bottom: 2%;
        } 
